* {
  margin: 0;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2ecf3;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }
}