.p {
    color: var(--text-color);
    margin-bottom: .4em;
    margin-top: .4em;
}

div.code {
    color: var(--code-text-color);
    background-color: var(--code-background-color);
    border: 1px solid var(--code-border-color);
    padding: .2em;
    line-height: 1.2em;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    overflow-x: auto;
}

div.code > * {
    color: var(--code-text-color);
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

code.code {
    color: var(--code-text-color);
    background-color: var(--code-background-color);
    border: 1px solid var(--code-border-color);
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ol {
    margin-top: .4em;
    margin-bottom: .4em;
}

.ul {
    margin-top: .4em;
    margin-bottom: .4em;
}

.li {
    line-height: 1.5em;
}

.small {
    opacity: .7;
}

.h1 {
    color: var(--title-text-color);
    font-size: 2rem;
}

.h2 {
    font-size: 1.5rem;
}

.h3 {
    font-size: 1.2rem;
}

.h4 {
    font-size: 1.1rem;
}

.a {
    color: var(--link-text-color);
}

.a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

.img {
    max-height: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
    max-width: 70%;
}

.IlImage {
    display: inline;
}

.bq {
    border-left: 3px solid var(--bq-highlight);
    box-shadow: 0px 0px 6px -4px black, 0px 0px 3px -1px black;
    border-radius: 8px;
    margin: .4em;
    margin-left: 1em;
    padding: .5em;
    padding-left: .8em;
    background-color: var(--bq-background);
}